{% extends 'proyectofinal/base.html' %}
{% block titulo%} Operaciones {% endblock %}
{% block subtitulo %}Lista de Operaciones{% endblock %}
{% block contenido %}
    {% for operacion in detalle_operaciones %}
      <ul>
          <li> Numero Operación: {{operacion.id}} -
            Fecha: {{operacion.fecha}} -
            Cliente: {{operacion.cliente}} -
            Dirección: {{operacion.direccion}} -
            Monto USD: {{operacion.usd}} -
            px: {{operacion.fx_rate}}
          </li>
      </ul>
    {% endfor %}
{% endblock %}