{% extends 'proyectofinal/base.html' %}
{% block titulo%} Portfolio {% endblock %}
{% block subtitulo %}Detalle del portfolio{% endblock %}
{% block contenido %}
    {% for portfolio in detalle_portfolio %}
      <ul>
          <li> Empresa: {{portfolio.empresa}} -
            Ticker: {{portfolio.ticker}} -
            Media: {{portfolio.media}} -
            Desvío Estándar: {{portfolio.sdev}} -
            Ponderación: {{portfolio.weight}}
          </li>
      </ul>
    {% endfor %}
{% endblock %}