<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Detalle del Portfolio</h1>

    {% for portfolio in detalle_portfolio %}
        <ul>
            <li> Empresa: {{portfolio.empresa}} -
                Ticker: {{portfolio.ticker}} -
                Media: {{portfolio.media}} -
                Desvío Estándar: {{portfolio.sdev}} -
                Ponderación: {{portfolio.weight}}
            </li>
        </ul>
    {% endfor %}

</body>
</html>